pipappdirs==1.4.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
click==7.1.1
cycler==0.10.0
docx==0.2.4
docxtpl==0.6.3
dukpy==0.2.2
et-xmlfile==1.0.1
Flask==1.1.1
future==0.18.2
idna==2.9
itsdangerous==1.1.0
javascripthon==0.11
jdcal==1.4.1
Jinja2==2.11.1
jupyter-echarts-pypkg==0.1.1
kiwisolver==1.1.0
lml==0.0.2
lxml==4.5.0
macropy3==1.1.0b2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.2
openpyxl==3.0.3
Pillow==7.0.0
prettytable==0.7.2
pyecharts==0.5.0
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
pyee==7.0.1
pylab==0.0.2
pyparsing==2.4.6
pyppeteer==0.0.25
pytesseract==0.3.3
python-dateutil==2.8.1
python-docx==0.8.7
pyusb==1.0.2
PyVISA==1.10.1
PyVISA-py==0.3.1
requests==2.23.0
selenium==3.141.0
simplejson==3.17.0
six==1.14.0
snapshot-phantomjs==0.0.3
soupsieve==2.0
tqdm==4.44.1
urllib3==1.25.8
Wand==0.5.9
websockets==8.1
Werkzeug==1.0.1
xlrd==1.2.0
