<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/vue.js"></script>

    <title>Document</title>

    <style>

    </style>
</head>

<body>
    <div id="app">
        <video  class="align-content-center" src="../static/红韶愿1.mp4" autoplay="autoplay" controls="controls" preload="auto" loop></video>
        <br>
        <audio class="align-content-center" src="../static/大国民.mp3" autoplay controls preload="auto" loop></audio>
        <br>
        <video  class="align-content-center" src="../static/lusiyue.mp4" autoplay="autoplay" controls="controls" preload="auto" loop></video>
        <br>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: { },
            methods:{ }
        });
    </script>
</body>

</html>